@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto';
    font-size: 18px;
    margin: 0;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

form {
    padding: 1em 0;
    margin: 0 auto;
    width: 250px;
}

input[type=submit] {
    text-decoration: none;
    margin: 0.5em 0;
    cursor: pointer;
}

h1 {
    font-family: 'Ropa Sans';
    color: black;
    text-align: center;
    padding: 1em 0;
    background-color: #E2B500;
}

table {
    /*display: block;*/
    margin: 1em auto;
    width: 60%;
    background-color: #A92913;
}
/*
th {
    background-color: #A92913;
    text-align: center;
}

td {
    background-color: #A92913;
    text-align: center;

}
*/
h2,
h3 {
    font-family: 'Ropa Sans';
    text-align: center;
}

color: #FFF;
text-align: center;
}

footer {
    flex-shrink: 0;
}

.stats_background {
    background-color: #A92913;
    color: #FFF;
    margin: 0;
    text-align: center;
    padding: 2em;
}

.player_background {
    background-color: #D47205;
    color: #FFF;
    padding: 2em;
    margin: 0;
}

.stripe1 {
    background-color: #760920;
    padding: 2em;
}

.stripe2 {
    background-color: #2F1310;
    padding: 2em;
}

p {
    text-align: center;
}
